@media all and (min-width: 1024px) {
    .start,
    .comfort,
    .base {
        width: 65.5%;
        min-width: 57.375rem;
    }
    .single-page__image {
        width: 50.125rem;
        right: -20rem;
    }
}