@media all and (min-width: 1024px) {
    .single-page__image {
        display: none;
    }
    .start__text {
        width: 40.5%;
        min-width: 35.5rem;
    }
    .start__btn,
    .not-all__btn {
        margin-left: 0;
    }
    .benefit__wrapper {
        display: flex;
    }
    .benefit__list {
        margin-right: 2em;
    }
    .benefit__text {
        width: 32%;
        min-width: 27.875rem;
    }
    .personal-cabinet {
        position: relative;
        padding: 2.75em 0 6.25em;
        margin-bottom: 3.75em;
    }
    .personal-cabinet__picture,
    .mobile-app__picture {
        position: absolute;
        width: auto;
    }
    .personal-cabinet__picture {
        top: 0;
        left: 57.5%;
    }
    .personal-cabinet__wrapper {
        width: 49%;
        min-width: 42.875rem;
    }
    .mobile-app {
        position: relative;
        margin-bottom: 5.25em;
    }
    .mobile-app__picture {
        height: 12rem;
        top: calc(50% - 6rem);
        left: 54.25%;
    }
    .not-all__title {
        margin-bottom: .5em;
    }
    .join-us__title {
        text-align: left;
    }
    .list--advantages {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .list--advantages .list__item {
        width: 32%;
    }
}