.start {
    margin-bottom: 2.5em;
}

.benefit__title {
    margin-bottom: .7em;
}

.personal-cabinet__picture,
.mobile-app__picture {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.mobile-app__picture {
    width: calc(100% + 3.85%);
}

.mobile-app__image {
    width: 100%;
}

.not-all {
    margin-bottom: 3.5em;
}

.not-all__title {
    margin-bottom: 1.85em;
}