@media all and (min-width: 1024px) {
    .start__container {
        position: relative;
    }
    .start__text {
        width: 32%;
        min-width: 28rem;
    }
    .start__application {
        position: absolute;
        top: 4.75em;
        right: 0;
        display: block;
        width: 43rem;
        padding: 2.25em 2.625em;
        box-sizing: border-box;
        background-color: #E8EBED;
        border-radius: 1.125em;
        background-image: url(../images/application-bg.png);
        background-size: 65%;
        background-position: bottom right;
        background-repeat: no-repeat;
    }
    .single-page__image,
    .start__contacts-list,
    .start__btn,
    .emerging-opportunities__title,
    .emerging-opportunities__picture,
    .corporate__list,
    .corporate__btn {
        display: none;
    }
    .emerging-opportunities {
        margin-bottom: 11em;
    }
    .emerging-opportunities__contacts-list {
        display: block;
    }
    .emerging-opportunities__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 43.5rem;
        max-height: 10rem;
    }
    .emerging-opportunities__list .list__item {
        width: 20.5rem;
    }
    .partners-list {
        overflow: visible;
    }
    .partners-list__list {
        width: 100%;
    }
    .partners-list__item {
        margin: 0 2.5em 1.75em 0;
    }
    .partners-list__item:not(:nth-child(-n+6)) {
        margin-top: 0;
    }
    .partners-list__item:not(:nth-child(6n)) {
        margin-right: 2.5em;
    }
    .partners-list__item:nth-child(12n) {
        margin-right: 0;
    }
    .corporate {
        position: relative;
        margin-bottom: 1.75em;
    }
    .corporate:before {
        content: '';
        width: 32.6875rem;
        height: 14.25rem;
        position: absolute;
        top: 4.75em;
        left: -7em;
        background-image: url(../svg/comfort-plus.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .corporate__container {
        width: 54.875rem;
        margin-left: 31em;
    }
    .corporate__wrapper {
        display: flex;
    }
    .corporate__top {
        flex-shrink: 0;
    }
    .corporate__bottom {
        margin-left: 2.25em;
    }
    .corporate__doc-title {
        font-size: 1.25rem;
    }
    .corporate__second-list {
        padding-top: 1em;
    }
    .corporate__second-list .list__item {
        margin-bottom: 1.75em;
    }
    .become-corp-client {
        margin-bottom: 2.25em;
    }
    .become-corp-client__list {
        justify-content: space-between;
    }
    .become-corp-client__list .numbered-list__item {
        width: auto;
        margin: 0;
    }
    .become-corp-client__list .numbered-list__btn-wrapper {
        position: static;
        margin-top: .75em;
    }
}

@media all and (min-width: 1559px) {
    .partners-list__item:nth-child(12n) {
        margin-right: 2.5em;
    }
    .partners-list__item:nth-child(13n) {
        margin-right: 0;
    }
}

@media all and (min-width: 1659px) {
    .partners-list__item:nth-child(13n) {
        margin-right: 2.5em;
    }
    .partners-list__item:nth-child(14n) {
        margin-right: 0;
    }
}

@media all and (min-width: 1759px) {
    .partners-list__item:nth-child(14n) {
        margin-right: 2.5em;
    }
    .partners-list__item:nth-child(15n) {
        margin-right: 0;
    }
}