.emerging-opportunities__contacts-list {
    display: none;
}

.partners-list {
    overflow: scroll;
    margin-bottom: 3.25em;
}

.partners-list__list {
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.partners-list .partners-list__item {
    margin-bottom: 0;
}

.partners-list__item:not(:nth-child(-n+6)) {
    margin-top: 1.25em;
}

.partners-list__item:not(:nth-child(6n)) {
    margin-right: 1.4375em;
}

.partners-list__picture {
    display: block;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.partners-list__image {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.slider-items__slide {
    width: 13.375rem;
}

.start__application {
    display: none;
}