@media all and (min-width: 1024px) {
    .contacts-main__container {
        display: flex;
    }
    .contacts-main__contacts-address {
        display: flex;
    }
    .contacts-main__map-wrapper {
        width: 64%;
    }
    .contacts,
    .address,
    .another-contacts {
        padding-right: 6.875em;
    }
    .contacts,
    .address {
        width: 50%;
    }
    .another-contacts {
        width: 32%;
    }
    .address {
        border-left: .0625em solid #E8EBED;
        border-right: .0625em solid #E8EBED;
    }
    .address,
    .another-contacts {
        padding-left: 2em;
        margin-top: 5.875em;
    }
    .contacts__title {
        margin-bottom: 1em;
    }
    .contacts-list {
        width: 21rem;
    }
}