.intro,
.why-tf {
    position: relative;
}

.intro {
    position: relative;
}

.intro__image {
    width: 100%;
    margin-bottom: 2.625em;
}

.intro__title {
    font-size: 1.75rem;
    line-height: 1.25;
    margin: 0;
    margin-bottom: .5em;
}

.intro__text {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.intro__accent {
    color: #4e6cd3;
    font-weight: 700;
}

.intro__btn {
    padding-left: 1.75em;
    padding-right: 1.75em;
    margin-left: 0;
}

.intro__pult-btn {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.why-tf {
    position: relative;
}

.why-tf__title {
    position: relative;
    font-size: 1.25rem;
}

.why-tf__text {
    width: 19.0625rem;
    font-weight: 300;
    margin-bottom: 0;
}

.why-tf__accent {
    font-weight: 500;
}

.work__title {
    font-size: 1.25rem;
}

.join__title {
    color: #5EB848;
}

.join__list-item {
    position: relative;
    width: 18rem;
    padding-top: 6.25em;
    text-align: center;
    margin: 0 auto;
}

.join__list-item:not(:last-child) {
    margin-bottom: 2em;
}

.join__list-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 2.75em);
    width: 5.5em;
    height: 5.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.join__list-item--interview:before {
    background-image: url(../svg/book.svg);
}

.join__list-item--order:before {
    background-image: url(../svg/accept-order.svg);
}

.join__list-item--address:before {
    background-image: url(../svg/map.svg);
}

.options__title {
    color: #5EB848;
    text-align: center;
}

.reviews__item {
    color: #181C19;
    padding: 1em;
    border: .125em solid #E8EBED;
    border-radius: 1.125em;
    box-sizing: border-box;
}

.reviews__item:not(:last-child) {
    margin-bottom: 1em;
}

.reviews__photo {
    width: 7rem;
    height: 7rem;
    float: left;
    border-radius: .5625em;
    overflow: hidden;
    margin-right: .625em;
}

.reviews__name {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1em;
}

.reviews__money-text {
    margin-bottom: 1em;
}

.reviews__money {
    font-size: 1.25rem;
    color: #5EB848;
}

.reviews__text {
    margin: 0;
}

.independence__subtitle {
    color: #5EB848;
}

.independence__text {
    font-size: .75rem;
    color: #757575;
}

.numbered-list__item.join__numbered-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0;
}

.numbered-list__item.join__numbered-list-item:not(:last-child) {
    margin-right: 3.4em;
}

.join__numbered-list-item:before {
    position: static;
    flex-shrink: 0;
    margin-right: 3.125em;
}