@media all and (min-width: 1024px) {
    .intro {
        margin-bottom: 18.25em;
    }
    .intro__title {
        font-size: 2.625rem;
        line-height: 1.25;
        color: #5EB848;
        margin-bottom: .75em;
    }
    .intro__image {
        top: 88%;
        width: 40rem;
        height: 15.375rem;
    }
    .intro__text {
        width: 35.5rem;
    }
    .why-tf {
        margin-bottom: 3.75em;
    }
    .why-tf__title {
        color: #4E6CD3;
    }
    .why-tf__text {
        width: 25.75rem;
    }
    .work {
        width: 50.5rem;
        background-image: none;
        padding: 0;
        margin-right: 2.5em;
    }
    .why-tf__title,
    .work__title {
        font-size: 1.875rem;
    }
    .work__subtitle {
        font-size: 1.25rem;
    }
    .work__step-list {
        display: block;
    }
    .work__step-list-item {
        width: 100%;
    }
    .join__list {
        display: flex;
        justify-content: center;
    }
    .join__list-item {
        margin: 0;
    }
    .join__title {
        text-align: center;
        margin-bottom: 1.05em;
    }
    .join__subtitle {
        font-size: 2.625rem;
        margin-bottom: 1em;
    }
    .reviews {
        margin-bottom: 2.625em;
    }
    .reviews__title {
        width: 21.25rem;
        text-align: center;
        line-height: 1.5;
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto 3.35em;
    }
    .reviews__list {
        display: flex;
        justify-content: space-between;
    }
    .reviews__item {
        width: 28.125rem;
    }
    .reviews__item:not(:last-child) {
        margin: 0;
    }
    .reviews__name {
        padding-right: 7.65em;
        margin-bottom: .55em;
    }
    .reviews__money-text {
        margin-top: 0;
    }
    .reviews__join-us {
        display: none;
    }
    .drivers__wrapper {
        display: flex;
    }
    .independence__wrapper {
        display: flex;
    }
    .independence__title,
    .work__title {
        color: #333;
    }
    .independence__contacts-list {
        width: 22rem;
        margin-right: 3.125em;
    }
    .independence__button {
        margin-left: 0;
    }
    .independence__text {
        width: 20.5rem;
        margin-left: auto;
    }
}