@media all and (min-width: 1024px) {
    .start {
        margin-bottom: 5.625em;
    }
    .start__container {
        position: relative;
    }
    .single-page__image {
        width: 50.125rem;
        height: 28.875em;
        top: 2em;
        right: 0;
    }
    .start__subtitle {
        font-size: 1.25rem;
    }
    .start__text {
        width: 40.5%;
        min-width: 35.5rem;
    }
    .start__list {
        display: block;
        margin-bottom: 2em;
    }
    .start__btn {
        margin-left: 0;
    }
    .about-company {
        position: relative;
    }
    .about-company__subtitle {
        font-size: 1.25rem;
    }
    .about-company__text {
        width: 48%;
        min-width: 42.875rem;
    }
    .about-company__picture {
        position: absolute;
        top: 0;
        right: 0;
        width: 48%;
    }
    .about-company__bottom-wrapper {
        display: flex;
    }
    .about-company__five-years {
        margin-right: 2em;
    }
    .about-company__list {
        display: block;
        width: auto;
    }
    .easy-money__text {
        width: 42.75rem;
    }
    .franchise__wrapper {
        display: flex;
        margin-bottom: 4.6875em;
    }
    .what-we-offer {
        width: 21.5625rem;
        margin-right: 8.75em;
    }
    .how-to-become-partner__btn {
        margin-left: 0;
    }
}