.start {
    margin-bottom: 2.8125em;
}

.about-company {
    margin-bottom: 3em;
}

.how-to-become-partner {
    margin-bottom: 2.5em;
}

.packets-list__item {
    max-width: 296px;
    border-radius: 1.125em;
    padding: 1.125em 1.125em 3em 1.125em;
    box-sizing: border-box;
}

.packets-list__item--yellow {
    background-color: #F6E459;
}

.packets-list__item--orange {
    background-color: #E39E32;
}

.packets-list__item--green {
    background-color: #52B885;
}

.packets-list__number {
    font-size: .75rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: .5em;
}

.packets-list__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1em;
}

.packets-list__text {
    min-height: 145px;
}

.packets-list__values-item:not(:last-child) {
    margin-bottom: 1.5em;
}

.packets-list__values-title,
.packets-list__values-value {
    font-weight: 600;
    margin: 0;
}

.packets-list__values-value {
    font-size: 1.25rem;
}