@media all and (min-width: 1024px) {
    .city-selector {
        display: block;
    }
    .intro {
        height: 100vh;
        padding-top: 10em;
        background-image: url(../images/desktop/invest-bg.jpg);
        background-color: #43495A;
        background-size: 50% 100%;
        background-position: left;
        box-sizing: border-box;
    }
    .webp .intro {
        background-image: url(../images/desktop/invest-bg.webp);
    }
    .intro__container {
        width: 50%;
        margin-left: 50%;
        padding: 0 1.875em;
        box-sizing: border-box;
    }
    .intro__title {
        font-size: 1.875rem;
    }
    .invest__title {
        font-size: 2.625rem;
    }
    .intro__subtitle {
        width: 32rem;
        margin-bottom: .5em;
    }
    .intro__work {
        width: 17.25rem;
        margin-bottom: 7.35em;
    }
    .intro__watch-video,
    .intro__btn {
        margin-left: 0;
    }
    .calculator__title,
    .calculator__text {
        text-align: center;
    }
    .calculator__text {
        width: 43.875rem;
        margin-left: auto;
        margin-right: auto;
    }
    .calculator__wrapper {
        display: flex;
        justify-content: center;
    }
    .calculator__list {
        display: block;
        width: auto;
        text-align: right;
        padding-right: 1.875em;
    }
    .calculator__list .list__item {
        width: 100%;
    }
    .calculator__list .list__item-title,
    .calculator__list .list__item-value {
        color: #fff;
    }
    .calculator__list .list__item:first-child .list__item-value {
        color: #5EB848;
    }
    .invest-calculator {
        width: 21rem;
        padding-left: 1.875em;
        border-left: 1px solid rgba(255, 255, 255, .2);
    }
    .invest-calculator__submit {
        margin-left: 0;
    }
    .calculator__release-number {
        display: none;
    }
    .know-more {
        padding-top: 2.5em;
    }
    .know-more__title {
        width: 21.5rem;
        font-size: 1.25rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .9em;
    }
    .program__title {
        text-align: center;
    }
    .program-list {
        display: flex;
        justify-content: space-between;
    }
    .program-list__item {
        width: 23.25%;
        min-width: 20.5rem;
        padding-top: 6.25em;
        padding-right: 0;
    }
    .program-list__item:after {
        top: 0;
        left: calc(50% - 3.5em);
    }
    .program-list__title,
    .program-list__value {
        text-align: center;
    }
    .program-list__value {
        font-size: 1.875rem;
    }
    .invest__wrapper {
        display: flex;
    }
    .invest__basic-key {
        background-image: url(../svg/invest-cars.svg);
        background-size: 29.75em;
        background-position: right 20%;
        background-repeat: no-repeat;
        margin-bottom: 7.25em;
    }
    .basic {
        order: 1;
        margin-left: 8em;
    }
    .key {
        background-image: none;
    }
    .basic__title,
    .key__title {
        margin-bottom: .85em;
    }
    .key-list__city {
        font-size: 1.875rem;
    }
    .key-list__values {
        font-size: 2.625rem;
    }
    .become-investor__icon-wrapper {
        width: 28rem
    }
    .invest__request-contacts {
        align-items: center;
    }
    .invest__contacts-documents {
        width: 66%;
    }
    .request {
        order: 1;
        width: 20.875rem;
        margin-left: 2em;
    }
    .request__title {
        font-size: 1.75rem;
    }
    .request__btn {
        margin-bottom: 0;
    }
    .corp-list {
        display: flex;
        justify-content: space-between;
    }
    .corp-list__item {
        width: 28rem;
    }
    .documents__list {
        width: 21.5rem;
    }
    .popup-general-info__title {
        margin-bottom: .215em;
    }
    .popup-general-info__list {
        max-height: 455px;
        overflow-y: scroll;
        margin-bottom: 2em;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .intro {
        background-image: url(../images/desktop/invest-bg@2x.jpg);
    }
    .webp .intro {
        background-image: url(../images/desktop/invest-bg@2x.webp);
    }
}