.main.invest {
    padding-top: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.city-selector {
    display: none;
}

.header__btn-menu {
    background-color: transparent;
    border: .0625em solid #fff;
}

.intro {
    padding-top: 7.8125em;
    padding-bottom: 1.875em;
    background-image: url(../images/mobile/invest-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.webp .intro {
    background-image: url(../images/mobile/invest-bg.webp);
}

.intro__title {
    font-size: 1rem;
    line-height: 1.5;
    color: #5EB848;
    margin: 0;
    margin-bottom: .5em;
}

.invest__title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    margin-bottom: .425em;
}

.invest__title--center {
    font-size: 1.25rem;
    text-align: center;
}

.intro__subtitle {
    color: #fff;
    margin-bottom: 5.45em;
}

.intro__work {
    width: 80%;
    min-width: 17.1875rem;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.25;
    color: #fff;
    margin: 0;
    margin-bottom: 5.55em;
}

.intro__watch-video {
    position: relative;
    display: block;
    width: max-content;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.9em;
    color: #fff;
    text-decoration: none;
    padding-left: 3.7em;
    margin: 0 auto 2.4em;
}

.intro__watch-video:before {
    content: '';
    position: absolute;
    top: calc(50% - 1.45em);
    left: 0;
    width: 2.9em;
    height: 2.9em;
    background-image: url(../svg/play.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.intro__btn {
    display: block;
    width: 17.5rem;
    max-width: 100%;
    height: 3.5rem;
    font-weight: 600;
    color: #fff;
    line-height: 3.5rem;
    text-decoration: none;
    text-align: center;
    border: .125em solid #fff;
    border-radius: .9375em;
    box-sizing: border-box;
    margin: 0 auto 1.25em;
}

.calculator {
    /* background-image: url(../svg/calculator-bg.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat; */
    background-color: #1C2145;
    padding: 1.25em 0 3.5em;
}

.calculator__title {
    color: #fff;
}

.calculator__text {
    color: #fff;
}

.calculator .invest-calculator .form__label {
    color: #fff;
}

.calculator .list--numbers .list__item {
    color: #757575;
}

.invest-calculator__submit {
    margin-top: 2.125em;
    margin-bottom: 1.375em;
}

.calculator__release-number {
    color: #fff;
    line-height: 1.5;
    margin: 0;
}

.know-more {
    padding-top: 1em;
    margin-bottom: 4.125em;
}

.know-more__btn {
    margin-bottom: 0;
}

.program__title {
    margin-bottom: 1.45em;
}

.program-list__item {
    position: relative;
    padding-right: 3.125em;
    box-sizing: border-box;
}

.program-list__item:not(:last-child) {
    margin-bottom: 2.5em;
}

.program-list__item:after {
    content: '';
    position: absolute;
    top: calc(50% - 2.625em);
    right: 0;
    width: 7em;
    height: 5.25em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.program-list__item--production:after {
    background-image: url(../svg/papers.svg);
}

.program-list__item--coupon:after {
    background-image: url(../svg/percent.svg);
}

.program-list__item--term:after {
    background-image: url(../svg/calendar.svg);
}

.program-list__item--par:after {
    background-image: url(../svg/paper.svg);
}

.program-list__title,
.program-list__value {
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

.program-list__title {
    color: #5EB848;
}

.program-list__value {
    font-size: 1.25rem;
}

.basic__title {
    margin-bottom: 1em;
}

.basic-list {
    counter-reset: num;
}

.basic-list__item {
    position: relative;
    padding-left: 2.5em;
}

.basic-list__item:not(:last-child),
.key-list__item:not(:last-child) {
    margin-bottom: 2em;
}

.basic-list__item:before {
    content: counter(num) '.';
    counter-increment: num;
    position: absolute;
    left: 0;
    font-weight: 600;
}

.basic-list__link {
    font-weight: 600;
    text-decoration: none;
}

.key {
    background-image: url(../svg/key-autopark.svg);
    background-size: 58.5%;
    background-position: center right;
    background-repeat: no-repeat;
}

.key-list__city,
.key-list__caption,
.key-list__values {
    font-weight: 600;
    margin: 0;
}

.key-list__city {
    font-size: 1.25rem;
    font-weight: 700;
    color: #757575;
}

.key-list__values {
    font-size: 1.75rem;
    margin: 0;
}

.key-list__slash {
    color: #E8EBED;
}

.become-investor__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.become-investor__icon {
    display: block;
    width: 6.25rem;
}

.become-investor__icon:first-child {
    width: 5.875rem;
}

.become-investor__icon:first-child {
    width: 5.125rem;
}

.become-investor__icon:last-child {
    width: 5.25rem;
}

.become-investor__icon-image {
    max-width: 100%;
}

.corp-list__name,
.corp-list__department,
.corp-list__phone {
    display: block;
    font-weight: 600;
    margin: 0;
}

.corp-list__name,
.corp-list__address {
    margin-bottom: 1em;
}

.corp-list__phone {
    font-size: 1.75rem;
    color: #333;
    text-decoration: none;
    margin-bottom: .5em;
}

.corp-list__site-link {
    display: block;
    text-decoration: none;
}

.documents__list {
    margin: 0;
}

.popup-general-info__list-item {
    line-height: 1.7;
}

.popup-general-info__title {
    font-size: .75rem;
    margin: 0;
}

.popup-general-info__description,
.popup-general-info__list {
    margin: 0;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .intro {
        background-image: url(../images/mobile/invest-bg@2x.jpg);
    }
    .webp .intro {
        background-image: url(../images/mobile/invest-bg@2x.webp);
    }
}