.start {
    margin-bottom: 1.875em;
}

.joint-venture__download {
    position: relative;
    margin: 0;
}

.titled-list {
    padding: 0 1.125em;
    margin-bottom: 1.375em;
}

.titled-list__title {
    font-weight: 600;
    margin: 0;
    margin-bottom: 1em;
}

.titled-list__list {
    margin-bottom: .375em;
}

.partners {
    margin-bottom: 3.125em;
}