@media all and (min-width: 1024px) {
    .single-page__image {
        display: none;
    }
    .start__text {
        width: 40.5%;
        min-width: 35.5rem;
    }
    .opportunities__wrapper,
    .partners__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .opportunities__titled-list,
    .partners__titled-list {
        width: 31.5%;
        min-width: 27.875rem;
        padding: 0;
    }
    .opportunities__titled-list:not(:last-child),
    .partners__titled-list:not(:last-child) {
        margin-right: 2.35%;
    }
    .advantages,
    .promotion {
        display: inline-block;
        width: 31.5%;
        min-width: 27.875rem;
        margin-right: 2.35%;
        vertical-align: top;
    }
    .promotion {
        margin-bottom: 2.875em;
    }
    .advantages__title,
    .promotion__title {
        height: 7rem;
    }
    .promotion__title {
        width: 90%;
    }
    .advantages .list--advantages,
    .promotion .list--advantages {
        width: 75.5%;
        min-width: 21rem;
    }
    .partners {
        margin-bottom: 8.875em;
    }
    .how-become__btn {
        display: none;
    }
}