body {
    position: relative;
}

.intro {
    position: relative;
    margin-top: 7em;
    margin-bottom: 5.6875em;
}

.intro__container {
    position: relative;
}

.intro:before,
.intro:after {
    content: '';
    position: absolute;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.intro:before {
    width: 121.8vw;
    height: 41.5vw;
    top: -25.35vw;
    left: calc(50% - 60.9vw);
    background-image: url(../svg/tf-minimal.svg);
}

.intro:after {
    width: 100%;
    height: 36vw;
    top: -20vw;
    left: 0;
    background-image: url(../svg/comfort-plus.svg);
}

.intro__main-wrapper {
    background-color: #F6E459;
    border-radius: 0 0 1.125em 1.125em;
    padding-top: 4.625em;
    padding-bottom: 3.5625em;
}

.intro__title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
    color: #333;
    margin: 0;
}

.intro__subtitle {
    font-size: 1.5rem;
    line-height: 1.25;
    color: #333;
    margin: 0;
    margin-bottom: .85em;
}

.enter-addr {
    position: relative;
}

.enter-addr:before,
.enter-addr:after {
    content: '';
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    top: calc(50% - .625em);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.enter-addr:before {
    left: 1.125em;
    background-image: url(../svg/search.svg);
}

.enter-addr:after {
    right: 1.125em;
    background-image: url(../svg/label.svg);
}

.enter-addr__addr-input {
    width: 100%;
    height: 3.5rem;
    font-weight: 300;
    line-height: 3.5rem;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .1), 0 .25em 2em rgba(0, 0, 0, .25);
    padding: 0 4em 0 3.125em;
    border: .125em solid #5EB848;
    border-radius: 1.125em;
}

.intro__promocode-wrapper {
    position: absolute;
    left: 0;
    top: calc(100% - 1em);
    width: 100%;
    background-color: #4E6CD3;
    border-radius: 0 0 .5625em .5625em;
    padding: 1.625em 1.25em 1em;
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .1), 0 .25em 2em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    z-index: -1;
}

.promocode__btn {
    position: relative;
    font-weight: 300;
    color: #fff;
    text-decoration: underline;
    padding-left: 2em;
    border: 0;
    background-color: transparent;
}

.promocode__btn:before {
    content: '';
    position: absolute;
    top: calc(50% - .6875em);
    left: 0;
    width: 1.375em;
    height: 1.375em;
    background-image: url(../svg/promocode.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.why-tf {
    margin-bottom: 2.25em;
}

.why-tf__container {
    width: 100%;
}

.why-tf__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.why-tf__list-item:not(:last-child) {
    margin-bottom: 2.5em;
}

.why-tf__list-title {
    font-size: 1.5rem;
    color: #5EB848;
    margin-top: 0;
    margin-bottom: 0.3125em;
}

.why-tf__list-text {
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0.5em;
}


/* .why-tf__list-text--new {
position: relative;
}

.why-tf__list-text--new:after {
content: 'new';
position: absolute;
top: calc(50% - 0.4em);
right: -1.75em;
text-transform: uppercase;
} */

.why-tf__list-link {
    position: relative;
    font-weight: 600;
    color: #5EB848;
}

.why-tf__list-link:after {
    content: '';
    position: absolute;
    top: calc(50% - 0.4em);
    right: -1.75em;
    width: 1.25em;
    height: 0.8em;
    background-image: url(../svg/arrow-right-green.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.become-driver {
    position: relative;
    background-color: #5EB848;
    padding: 1.875em 0 1.5em 1.5em;
    margin-top: 2.25em;
}

.become-driver:after,
.download-pult:after {
    content: '';
    position: absolute;
    right: 2.5em;
    width: 1.25em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.become-driver:after {
    top: calc(50% - .4em);
    height: .8em;
    background-image: url('../svg/arrow-right-white.svg');
}

.become-driver__title {
    width: 13.125rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
    margin-bottom: .35em;
}

.become-driver__text {
    width: 13.125rem;
    font-weight: 300;
    line-height: 1.25;
    color: #fff;
    margin: 0;
}

.download-pult {
    position: relative;
    background-color: #757575;
    padding: 3.125em 0 1.125em 1.5em;
    margin-top: -2.125em;
    z-index: -1;
}

.download-pult:after {
    top: calc(50% + .5em);
    height: 1.25em;
    background-image: url('../svg/download.svg');
}

.download-pult__title {
    position: relative;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding-left: 2.4em;
}

.download-pult__title:before {
    content: '';
    position: absolute;
    top: calc(50% - .875em);
    left: 0;
    width: 1.75em;
    height: 1.75em;
    background-image: url('../svg/pult.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.news {
    text-align: right;
    background-color: #F6E459;
    padding: 1.5em 1.5em 1.875em 2.5em;
    margin-bottom: 3.4375em;
}

.news__title {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #757575;
    mix-blend-mode: multiply;
    margin-top: 0;
    margin-bottom: .58em;
}

.news__card {
    text-align: left;
}

.news__text {
    line-height: 1.25;
    margin: 0;
    margin-bottom: .625em;
}

.news__date {
    font-size: .875rem;
    mix-blend-mode: multiply;
}

.news__all-link {
    position: relative;
    font-weight: 600;
    line-height: 1.25;
    padding-right: 1.75em;
}

.news__all-link:after {
    content: '';
    position: absolute;
    top: calc(50% - .3828125em);
    right: 0;
    width: 1.25em;
    height: .765625em;
    background-image: url(../svg/arrow-right-green.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.quality-control {
    background-color: #5EB848;
    padding: 1.875em 1.5em 7.5em;
}

.quality-control__title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
    color: #F6E459;
    margin: 0;
    margin-bottom: .285em;
}

.quality-control__phone {
    display: block;
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-bottom: .355em;
}

.quality-control__phone-caption {
    font-size: .875rem;
    font-weight: 500;
    color: #F6E459;
    margin: 0;
}

.quality-control__email {
    font-weight: 300;
    color: #fff;
}

.stocks-slider__slide {
    width: 7.5rem;
    height: 11.25rem;
    border-radius: 1.125em;
    box-sizing: border-box;
    overflow: hidden;
}

.stocks-slider__picture {
    display: block;
    width: 100%;
    height: 100%;
}

.stocks-slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    margin-top: -1.625em;
}

.popup-order {
    padding-top: 1em;
}

.order-form__addresses {
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .1), 0 .25em 2em rgba(0, 0, 0, .25);
    border-radius: 1.125em;
    margin-bottom: .5em;
}

.order-form__label {
    position: relative;
    display: flex;
    align-items: center;
    padding: .875em 3em .875em 1.125em;
    box-sizing: border-box;
}

.order-form__label:not(:last-child) {
    border-bottom: .0625em solid #E8EBED;
}

.order-form__label:after {
    content: '';
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: calc(50% - .625em);
    right: 1.125em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.order-form__label--from:after {
    background-image: url(../svg/label.svg);
}

.order-form__label--to:after {
    background-image: url(../svg/plus.svg);
}

.order-form__input {
    display: inline-block;
    flex-grow: 1;
    border: 0;
}

.popup-order__list {
    display: none;
}

.popup-order__list-item {
    padding-top: .625em;
    padding-bottom: .75em;
    border-bottom: .0625em solid #E8EBED;
}

.popup-order__address {
    font-size: .9375rem;
    margin: 0;
}

.popup-order__city {
    font-size: .75rem;
    color: #757575;
    margin: 0;
}

.popup-order__info {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .1), 0 .25em 2em rgba(0, 0, 0, .25);
    border-radius: 1.125em 1.125em 0 0;
    padding-top: 1.5em;
}

.tarif-select__radio,
.round-tabs__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

.tarif-select__label {
    display: flex;
    align-items: center;
    border: .125em solid transparent;
    box-sizing: border-box;
    border-radius: .5em;
    padding: .875em;
    transition: border-color .3s ease-in-out;
}

.tarif-select__radio:checked+.tarif-select__label {
    border-color: #5EB848;
}

.tarif-select__label:before {
    margin-right: .75em;
}

.tarif-select__name-wait,
.tarif-select__price-sale {
    margin: 0;
}

.tarif-select__name {
    color: #757575;
    transition: color .3s ease-in-out;
}

.tarif-select__radio:checked+.tarif-select__label .tarif-select__name {
    color: #333;
}

.tarif-select__wait,
.tarif-select__sale {
    font-size: .75rem;
    color: #757575;
}

.tarif-select__price-sale {
    text-align: right;
    margin-left: auto;
}

.tarif-select__price {
    font-weight: 600;
}

.tarif-select__sale {
    text-decoration: line-through;
}

.round-tabs__list {
    position: relative;
    height: 10.375rem;
}

.round-tabs__item {
    position: absolute;
    transform: translateX(-2.25rem)
}

.round-tabs__label {
    display: inline-block;
    width: 19.2vw;
    min-width: 4.5rem;
    height: 19.2vw;
    min-height: 4.5rem;
    background: #F6E459;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.round-tabs__radio:checked+.round-tabs__label {
    background-color: #fff;
    box-shadow: 0 .25em .5em rgba(0, 87, 159, .2);
}