@media all and (min-width: 1024px) {
    .intro:before {
        width: 40.625vw;
        height: 14vw;
        top: auto;
        left: -1.7vw;
        bottom: 2vw;
        background-image: url(../svg/tf-minimal-desktop.svg);
    }
    .intro:after {
        width: 40vw;
        height: 14.1vw;
        top: auto;
        left: 8.45vw;
        bottom: 0;
    }
    .intro__container {
        width: 100%;
    }
    .intro__main-wrapper {
        width: 50%;
        min-width: 705px;
        border-radius: 1.125em;
        box-sizing: border-box;
        padding: 2.375em 2.625em 2.8125em;
        margin-left: auto;
    }
    .intro__title {
        font-size: 2.625rem;
        margin-bottom: .25em;
    }
    .intro__promocode-wrapper {
        width: 26.5%;
        min-width: 375px;
        left: 50%;
        border-radius: 0 0 1.125em 1.125em;
    }
    .stocks-slider__slide {
        width: 18rem;
        height: 16rem;
    }
    .why-tf__container {
        width: 97.8%;
        display: flex;
        align-items: flex-start;
    }
    .why-tf__list {
        display: flex;
        flex-wrap: wrap;
    }
    .why-tf__list-item {
        width: 30%;
    }
    .why-tf__list-item:not(:nth-child(3n)) {
        margin-right: 4.5%;
    }
    .why-tf__list-item {
        margin-bottom: 4.125em;
    }
    .why-tf__addition {
        position: relative;
        width: 27.5%;
        flex-shrink: 0;
    }
    .why-tf__addition:after {
        content: '';
        position: absolute;
        bottom: 30%;
        left: 50%;
        width: 40.625vw;
        height: 14vw;
        background-image: url(../svg/tf-minimal-desktop.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -9;
    }
    .news {
        background-color: transparent;
        padding: 0;
    }
    .quality-control {
        padding: 2.25em 0;
    }
    .quality-control__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .quality-control__write-us {
        display: block;
        opacity: 1;
        margin: 0;
    }
    .round-tabs {
        display: none;
    }
    .services-slider {
        display: block;
    }
    .services-slider__slide {
        width: 15.25rem;
        text-align: center;
    }
    .services-slider__image {
        height: 6.5625rem;
    }
    .services-slider__title {
        font-size: 1.25rem;
        font-weight: 600;
        margin: .8em 0;
    }
    .footer {
        margin-top: 2.35em;
    }
}