.prices-list {
    margin: 0;
}

.prices-list__item {
    border: .0625em solid #E8EBED;
    border-radius: .5625em;
    box-sizing: border-box;
    padding: 0 .75em;
    overflow: hidden;
    transition: border-width .1s ease-in-out, border-color .3s ease-in-out;
}

.prices-list__item--open {
    border-width: .125em;
    border-color: #5EB848;
}

.prices-list__item:not(:last-child) {
    margin-bottom: .25em;
}

.prices-list__top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    border: 0;
    background-color: transparent;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.prices-list__top:before,
.prices-list__top:after {
    content: '';
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.prices-list__top:before {
    width: 3.875em;
    height: 2em;
}

.prices-list__item--standart .prices-list__top:before {
    background-image: url(../svg/tarif-standart.svg);
}

.prices-list__item--comfort .prices-list__top:before {
    background-image: url(../svg/tarif-comfort.svg);
}

.prices-list__item--comfort-plus .prices-list__top:before {
    background-image: url(../svg/tarif-comfort-plus.svg);
}

.prices-list__item--business .prices-list__top:before {
    background-image: url(../svg/tarif-business.svg);
}

.prices-list__item--minivan-6 .prices-list__top:before {
    background-image: url(../svg/tarif-minivan-6.svg);
}

.prices-list__item--minivan-8 .prices-list__top:before {
    background-image: url(../svg/tarif-minivan-8.svg);
}

.prices-list__top:after {
    width: 1.25em;
    height: .7em;
    background-image: url(../svg/dropdown-green.svg);
}

.prices-list__item--open .prices-list__top:after {
    transform: rotate(180deg);
}

.prices-list__title {
    color: #181C19;
    margin-left: .75em;
}

.prices-list__price {
    margin-left: auto;
    margin-right: 1em;
}

.prices-list__info {
    max-height: 0;
    transition: max-height .3s ease-in-out;
}

.prices-list__item--open .prices-list__info {
    max-height: 10rem;
}

.prices-list__main {
    font-size: .875rem;
    border-top: .0625em solid #E8EBED;
    border-bottom: .0625em solid #E8EBED;
    padding: .375em 0;
}

.prices-list__addition {
    font-size: .75rem;
    padding: .375em 0;
    margin-bottom: .5em;
}

.prices-list__info-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.prices-list__addition-title,
.prices-list__addition-value {
    color: #757575;
}

.prices-list__inc {
    font-size: .75rem;
    color: #E39E32;
    margin: 0;
    margin-bottom: 1.335em;
}