@media all and (min-width: 1024px) {
    .tabs__list {
        display: none;
    }
    .tabs__content {
        display: block;
    }
    .tabs__title {
        display: block;
        font-size: 1.875rem;
        color: #757575;
        margin: 0;
        margin-bottom: .85em;
    }
    .prices-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .prices-list__item {
        width: 31.5%;
        min-width: 27.875rem;
        border-width: .125em;
        border-color: #5EB848;
    }
    .prices-list .prices-list__item {
        margin-bottom: 1.625em;
    }
    .prices-list__top:after {
        content: none;
    }
    .prices-list__info {
        max-height: max-content;
    }
}