@media all and (min-width: 1024px) {
    .start__container {
        position: relative;
    }
    .start__subtitle,
    .start__text {
        width: 49%;
        min-width: 43.125rem;
    }
    .single-page__image {
        width: 8.125rem;
        top: 4.75em;
        left: calc(49% + 9.625em);
        right: auto;
    }
    .start__download-app {
        position: absolute;
        top: 7.5em;
        left: calc(49% + 20.25em);
    }
    .pult__slider {
        width: 97.8%;
        margin: 0 auto;
    }
    .pult__slider:before {
        content: none;
    }
    .pult__slider .slider-items__slide:not(.swiper-slide-active) .slider-items__picture:before {
        content: none;
    }
    .opportunities {
        width: 68%;
        min-width: 59.75rem;
    }
}