@media all and (min-width: 1024px) {
    .start {
        position: relative;
    }
    .start__title {
        margin-bottom: 1.15em;
    }
    .start__search {
        position: absolute;
        top: 0;
        left: 30.5%;
        width: 24%;
        min-width: 21rem;
    }
    .popular {
        border-bottom: .0625em solid #E8EBED;
    }
}