.start__title {
    margin-bottom: 1.45em;
}

.answers {
    display: flex;
    justify-content: center;
}

.answers__btn {
    padding: 0 2.1875em;
    border-radius: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

.answers__btn:first-child {
    margin-right: 2em;
}

.question__last-btn {
    margin-bottom: 0;
}

.other {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 52rem;
    padding-top: 2em;
}

.question__text {
    width: 70%;
    min-width: 61.875rem;
}

.question__wrapper {
    display: flex;
}

.question__element:not(:last-child) {
    margin-right: 18%;
}