.services {
    background-image: url(../svg/services.svg);
    background-size: 100%;
    background-position: center -2.125em;
    background-repeat: no-repeat;
    padding-top: 23em;
}

.services-list__item {
    position: relative;
    padding-left: 4em;
    box-sizing: border-box;
}

.services-list__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3em;
    height: 3em;
    background-color: #E8EBED;
}

.services-list__item:not(:last-child) {
    margin-bottom: 1.875em;
}

.services-list__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    color: #5EB848;
    padding-top: 0.65em;
    margin: 0;
    margin-bottom: .4em;
}

.services-list__text {
    width: 95%;
    margin: 0;
    color: #000;
}

.questions__title {
    font-size: 1.25rem;
    line-height: 1.2;
    color: #757575;
    margin: 0;
    margin-bottom: .9em;
}