.services {
    background-image: url(../svg/services.svg);
    background-size: 100%;
    background-position: center -2.125em;
    background-repeat: no-repeat;
    padding-top: 23em;
    margin-top: 4.5em;
}

.services-list__item {
    position: relative;
    padding-top: 4em;
    box-sizing: border-box;
}

.services-list__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 3.125em;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.services-list__item--children:before {
    width: 4.5em;
    background-image: url(../svg/chair.svg);
}

.services-list__item--family:before {
    width: 6.5em;
    background-image: url(../svg/family.svg);
}

.services-list__item--evacuator:before {
    width: 7.5em;
    background-image: url(../svg/evacuator.svg);
}

.services-list__item--delivery:before {
    width: 7.25em;
    background-image: url(../svg/courier-car.svg);
}

.services-list__item--special:before {
    width: 7.25em;
    background-image: url(../svg/special-car.svg);
}

.services-list__item--sober:before {
    width: 5.25em;
    background-image: url(../svg/sober.svg);
}

.services-list__item--station:before {
    width: 11em;
    background-image: url(../svg/station.svg);
}

.services-list__item--driving:before {
    width: 7.25em;
    background-image: url(../svg/standart-car.svg);
}

.services-list__item--rent:before {
    width: 7.25em;
    background-image: url(../svg/tarif-business.svg);
}

.services-list__item:not(:last-child) {
    margin-bottom: 1.875em;
}

.services-list__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    color: #5EB848;
    padding-top: 0.65em;
    margin: 0;
    margin-bottom: .4em;
}

.services-list__text {
    width: 95%;
    margin: 0;
    color: #000;
}

.questions__title {
    font-size: 1.25rem;
    line-height: 1.2;
    color: #757575;
    margin: 0;
    margin-bottom: .9em;
}