.stock__figure {
    display: block;
    position: relative;
    width: 14.375rem;
    height: 20rem;
    margin: 0 auto 1.5em;
    overflow: hidden;
}

.stock__image {
    position: absolute;
    top: 0;
    right: -2em;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}