.stocks-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.stocks-list__item {
    position: relative;
    width: 10rem;
    height: 14rem;
    border-radius: 0.5625em;
    overflow: hidden;
    margin-bottom: 1.5em;
}

.stocks-list__link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.stocks-list__figure {
    margin: 0;
}

.stocks-list__image {
    position: absolute;
    top: 0;
    right: -4em;
    z-index: -1;
}

.stocks-list__text-wrapper {
    display: flex;
    align-items: flex-end;
    position: absolute;
    height: 53.125%;
    bottom: 0;
    line-height: 1.5;
    background: linear-gradient(180deg, rgba(80, 184, 72, 0) 0%, #50B848 48.44%);
}

.stocks-list__title {
    display: block;
    font-weight: 600;
    text-shadow: 0 0.125em 0 rgba(0, 0, 0, .5);
    color: #fff;
    padding: 0 1em 1em;
}