@media all and (min-width: 1024px) {
    .vacancies {
        margin-bottom: 3.25em;
    }
    .vacancies__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 31.5rem;
    }
    .questions-answers__title {
        color: #333;
    }
    .any-questions {
        width: 21.5625rem;
        position: absolute;
        right: 7.5%;
        bottom: 0;
    }
    .vacancy__wrapper {
        position: relative;
        width: 49.8%;
        min-width: 44rem;
    }
    .vacancy__video {
        position: absolute;
        top: 0;
        left: calc(100% + 1.5em);
        width: 42.5rem;
        height: 24.75rem;
    }
    .vacancy__autoparks-btn {
        margin-left: 0;
    }
    .interest {
        position: absolute;
        top: 28.5rem;
        left: calc(100% + 1.5em);
    }
    .interest__title {
        font-size: 1.25rem;
    }
    .interest__btn {
        margin-left: 0;
        margin-bottom: .625em;
    }
}