@font-face {
    font-family: "Fira Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 300;
    font-style: normal;
    font-display: swap;

    src: url("../fonts/Fira_Sans/FiraSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 500;
    font-style: normal;
    font-display: swap;

    src: url("../fonts/Fira_Sans/FiraSans-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 600;
    font-style: normal;
    font-display: swap;

    src: url("../fonts/Fira_Sans/FiraSans-Bold.ttf") format('truetype');
}

* {
	font-family: 'Fira Sans', 'Roboto', sans-serif;
	font-size: 16px;
}

button {
	cursor: pointer;
}

a {
	color: #0078d7;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.sr-only {
	overflow: hidden;
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
    clip-path: inset(100%);
}

.section--standart {
	padding: 80px 0;
}

.half-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.half-wrapper__part {
	width: 50%;
}

.btn {
	display: inline-block;
	text-decoration: none;
	border: 0;
	border-radius: 3px;
	padding: 15px 40px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.btn:hover {
	transition: background-color 0.3s ease-in-out;
}

.link--icon-right {
	position: relative;
	transition: all 0.2s ease-in-out;
}

.link--icon-right:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	padding: 40px 0;
	z-index: 1;
	transition: all 0.1s ease-in-out;
}

.header--sticky {
	background-color: #1bbc9b;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all 0.1s ease-in-out;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu__item {
	position: relative;
}

.menu__item--active:after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: -8px;
	border-bottom: 1px solid #fff;
}

.menu__item:not(:last-child) {
	margin-right: 30px;
}

.menu__link {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
}

.phone {
	display: inline-block;
	position: relative;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	text-decoration: none;
	border: 2px solid transparent;
	border-radius: 3px;
	padding: 10px 20px 10px 45px;
	transition: border-color 0.3s ease-in-out;
}

.phone:hover {
	border-color: #fff;
	transition: border-color 0.3s ease-in-out;
}

.phone:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 15px;
	width: 25px;
	height: 25px;
	background-image: url('../svg/call.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro {
	height: 100vh;	
	background-image: url('../images/main-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 200px;
	box-sizing: border-box;
}

.booking-form {
	display: flex;
	align-items: center;
	width: 100%;	
	background-color: #fff;
	box-shadow: 0 0 40px rgba(0,0,0,0.12);
	border-radius: 3px;
	padding: 20px 25px;
	margin-bottom: 50px;
	box-sizing: border-box;
}

.booking-form__element {
	padding-right: 20px;
}

.booking-form__element:not(:last-child) {
	border-right: 1px solid #e7e7e7;
	margin-right: 30px;
}

.booking-form__control {
	font-weight: 300;
	border: 0;
	background-color: transparent;
}

.booking-form__wrapper {
	position: relative;
	padding-left: 30px;
}

.booking-form__wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.booking-form__wrapper--datepicker:before {
	background-image: url('../svg/calendar.svg');
}

.booking-form__wrapper--room:before {
	background-image: url('../svg/family.svg');
}

.booking-form__submit {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background-color: #0096ff;
	border: 0;
	border-radius: 3px;
	padding: 12px 20px;
	margin-left: auto;
}

.booking-form__submit:hover {
	background-color: #007fd9;
}

.main__title {
	font-size: 48px;
	font-weight: 500;
	color: #fff;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
				 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
	margin-top: 0;
	margin-bottom: 25px;
}

.intro__container {
	position: relative;
	height: 100%;
}

.intro__text {
	width: 600px;
	font-size: 18px;
	line-height: 1.25;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
				 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
	color: #fff;
	margin: 0;
}

.social-list {
	position: absolute;
	right: 0;
	bottom: 100px;
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-list__item {
	margin-right: 20px;
}

.social-list__link {
	display: inline-block;
	width: 45px;
	height: 45px;
}

.social-list__icon {
	width: 100%;
	height: 100%;
}

.main__subtitle {
	font-size: 40px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 60px;
}

.transfer__content {
	display: flex;
	justify-content: space-between;
}

.transfer__text {
	width: 500px;
	line-height: 1.5;
}

.transfer__map {
	width: 600px;
}

.reviews {
	text-align: center;
	background-color: #f8f8f8;
}

.reviews__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.reviews__item {
	display: flex;
	width: 48%;
}

.reviews__item:not(:first-child):not(:nth-child(2)) {
	margin-top: 40px;
}

.reviews__photo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.reviews__blockquote {
	line-height: 1.375;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

.reviews__by-who {
	margin-top: 15px;
}

.reviews__link {
	text-decoration: none;
}

.reviews__more {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background-color: #1bbc9b;
	margin-top: 60px;
}

.reviews__more:hover {
	background-color: #008187;
}

.news {
	text-align: center;
}

.news__list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.news__item {
	width: 315px;
	background-color: #fff;
	box-shadow: 0 16px 40px rgba(0,0,0,0.12);
	border-radius: 3px;
}

.news__figure {
	margin: 0;
}

.news__photo {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.news__figcaption {
	padding: 15px 15px 20px;
}

.news__title {
	font-size: 24px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 10px;
}

.news__text {
	height: 140px;
	text-align: justify;
	line-height: 1.25;
	overflow: hidden;
	text-overflow: ellipsis;
	hyphens: auto;
	margin: 0;
}

.news__more {
	display: inline-block;
	font-weight: 300;
	text-decoration: none;
	text-align: left;
	margin-top: 25px;
	padding-right: 25px;
}

.news__more:after {
	width: 20px;
	background-image: url('../svg/right-arrow.svg');
}

.news__more:hover:after {
	right: -5px;
}

.news__another {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background-color: #ff6138;
	margin-top: 60px;
}

.news__another:hover {
	background-color: #ff400f;
}